<form action="">
    <div class="container-workforce">
        <h5>Mano de obra</h5>
        <div class="container_inputs--workforce">
            <div *ngFor="let field of formFields; let i = index" class="form-control">
                <div class="workforce-field" *ngIf="i+1 !== formFields.length">
                    <label for="horizontal">{{ formFields[i].name }}</label>
                    <p-inputNumber [(ngModel)]="formFields[i].price" [showButtons]="true" spinnerMode="horizontal"
                        buttonLayout="horizontal" [step]="1000" [inputStyle]="{'width': '7rem'}" [min]="0"
                        decrementButtonClass="p-button-info" name="{{formFields[i].name}"
                        incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" placeholder="price"
                        [minFractionDigits]="0" decrementButtonIcon="pi pi-minus"
                        (ngModelChange)="workLaborCalculate($event)">
                    </p-inputNumber>
                </div>
                <div class="control-percentage workforce-field" *ngIf="i+1 === formFields.length">
                    <div class="p-inputgroup">
                        <p-dropdown [options]="percentages" name="percentages" optionLabel="name" optionValue="value"
                            placeholder="Percentage" (onChange)="setPercentage($event)" [style]="{'minWidth': '11rem'}">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>