<div class="home-content-container">
    <section class="home-content">
        <div class="landing-description-container animate__animated animate__fadeIn">
            <h1 class="landing-title">
                Publicidad & Impresos <br>
                <span>Disgrafic</span>
            </h1>
            <p class="landing-description">
                La comunicación visual que proyecta tu marca es muy importante para nosotros,
                por eso nos encargamos de diseñar y elaborar productos publicitarios físicos, souverniers
                personalizados, entre otras cosas, para que puedas tener una mayor cercania con tus clientes.
            </p>
            <p-button routerLink="/products">Ver más...</p-button>
        </div>
        <img class=" img-container image-home animate__animated animate__backInUp shadow-inset"
            src="assets/images/home.png" alt="home-image">
        <img class="waves" src="assets/images/waves.svg" alt="waves animation">
    </section>
    <section class="home-middle">
        <div class="row">
            <div class="col left">
                <div class="img-container animate__animated animate__bounceInUp">
                    <img src="assets/images/home_1.png" class="shadow-inset" alt="Image 1">
                    <div>
                        <h2>Innova</h2>
                        <p class="mission-company">Transforma la publicidad de tu empresa en una obra de arte con
                            nosotos. Con nuestra atención
                            al detalle, te aseguramos que tu mensaje llegará a tu público de la manera más impactante y
                            memorable. </p>
                    </div>
                </div>
            </div>
            <div class="col right">
                <div class="img-container animate__animated animate__bounceIn">
                    <div>
                        <h2>Marketing</h2>
                        <p class="mission-company">Desde folletos y volantes hasta afiches y banners, ofrecemos
                            soluciones de impresión de alta
                            calidad para todas tus necesidades publicitarias. ¡No esperes más y da el salto a una
                            publicidad verdaderamente sobresaliente con nuestra litografía!</p>
                    </div>
                    <img src="assets/images/home_2.png" class="shadow-inset" alt="Image 2">
                </div>
            </div>
        </div>
    </section>
</div>