<div class="page-content">
    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>

    <div class="container content">
        <div class="description-container animate__animated animate__fadeIn">
            <h1>Sobre Nosotros</h1>
            <p>
                Somos una empresa con más de 20 años de experiencia en diseño
                gráfico, impresión digital, sourvenirs personalizados y todo
                tipo de medios publicitarios impresos.
            </p>
            <p>
                Esta empresa nace en Bucaramanga, Colombia, con el fin de trabajar
                en material litográfico. En la actualidad nuestra misión es hacer
                que las empresas puedan proyectar su marca y sello a través de medios
                físicos publicitarios.
            </p>
        </div>
        <img class="about-image animate__animated animate__bounceIn" src="assets/images/about.png" alt="team-image">
    </div>

    <div class="glowing">

        <span style="--i:1;"></span>

        <span style="--i:2;"></span>

        <span style="--i:3;"></span>

    </div>

</div>